[Unit]
Description=Power control daemon for the Chronos Camera

[Service]
Type=forking
PIDFile=/var/run/pcUtil.pid
ExecStartPre=/lib/firmware/scripts/chronos-pmic-loader.sh
ExecStart=/usr/bin/cam-pcUtil
StandardOutput=journal+console
StandardError=inherit

[Install]
WantedBy=multi-user.target
