[Unit]
Description=Video interface for the Chronos Camera
After=chronos-fpga.service
Requires=chronos-fpga.service

[Service]
ExecStart=/usr/bin/cam-pipeline
StandardOutput=journal+console
StandardError=inherit

[Install]
WantedBy=multi-user.target
