[Unit]
Description=Video interface for the Chronos Camera
After=chronos-fpga.service
Requires=chronos-fpga.service

[Service]
Type=dbus
ExecStart=/usr/bin/cam-pipeline -s /var/camera/splash.gif
BusName=ca.krontech.chronos.video
StandardOutput=journal+console
StandardError=inherit

[Install]
WantedBy=multi-user.target
