Source: chronos-cli
Section: misc
Priority: optional
Maintainer: Owen Kirby <oskirby@gmail.com>
Build-Depends: debhelper (>= 9), dh-systemd (>= 1.5),
                autotools-dev, autoconf, automake,
                libtool, pkg-config,
		libglib2.0-dev,
		libdbus-1-dev, libdbus-glib-1-dev,
		libjpeg-dev,
		libgstreamer0.10-dev,
		libgstreamer-plugins-base0.10-dev,
		linux-kernel-headers
Standards-Version: 3.9.8
Homepage: https://github.com/krontech/chronos-cli

Package: chronos-video
Architecture: armel
Depends: ${shlibs:Depends}, ${misc:Depends}, chronos-fpga,
	gstreamer0.10-plugins-base, gstreamer0.10-plugins-good,
	gstreamer0.10-plugins-bad, gstreamer0.10-plugins-ugly
Description: Video daemon for the Chronos Camera
 GStreamer video pipeline to operate the live display, video
 playback, encoders and file saving operations for the Chronos
 high speed camera.

Package: chronos-pcUtil
Architecture: armel
Depends: ${shlib:Depends}, ${misc:Depends}
Description: Power control daemon for the Chronos Camera
 Daemon to connect to and manage the power controller on the
 Chronos high speed camera.

Package: chronos-tools
Architecture: armel
Depends: ${shlib:Depends}, ${misc:Depends}
Description: Command line tools for the Chronos Camera
 Command line utilites for debugging, diagnostics, and recovery
 on the Chronos high speed camera.

