#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#export DH_VERBOSE = 1


# see FEATURE AREAS in dpkg-buildflags(1)
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# see ENVIRONMENT in dpkg-buildflags(1)
# package maintainers to append CFLAGS
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
# package maintainers to append LDFLAGS
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

PY3VERS:=$(shell py3versions -s)
DESTDIR:=$(shell pwd)/debian/tmp

%:
	dh $@ --with autotools_dev,python3

override_dh_auto_configure:
	./bootstrap
	dh_auto_configure

override_dh_auto_build:
	dh_auto_build
	for py in $(PY3VERS); do (cd src/pychronos && $$py setup.py build); done

override_dh_auto_install:
	dh_auto_install
	mkdir -p $(DESTDIR)/usr/lib/python3/dist-packages
	for py in $(PY3VERS); do (cd src/pychronos && $$py setup.py install --prefix=$(DESTDIR)); done
	for py in $(PY3VERS); do mv $(DESTDIR)/lib/$$py/site-packages/* $(DESTDIR)/usr/lib/python3/dist-packages; done
